

<div class="cards">
  <div class="card">
    <h5 class="card-header">CS5810</h5>
    <p class="card-body">
      <b>Name</b>: Operating systems course
      <br />
      <b>Instructor</b>: Dr. Jasine Babu
      <br />
      <b>Credits</b>: 4
      <br />
      <b>Contact</b>: jasine@iitpkd.ac.in
    </p>
    <div class="card-footer center"><p style="margin-left: 2rem;"><a>Join course</a></p></div>
  </div>
</div>
