<!DOCTYPE html>
<html>
  <head>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <title><%=typeof title == 'undefined' ? 'Course registration IIT Palakkad' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dependencies/base.css">
    <link rel="stylesheet" href="/styles/dependencies/wing.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="container base-container">
      <div class="nav">
        <h5 class="nav-logo">iit.</h5>
        <a class="nav-item" href="#">Home</a>
        <a class="nav-item" href="#">List</a>
        <a class="nav-item" href="#">Grades</a>
        <a class="nav-item" href="#">Admin</a>
      </div>
      <%- body %>
    </div>

    <!--TEMPLATES-->

    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
